<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no"/>
<title>智取胜局 勇夺宝箱</title>

<style>
body{
	margin:0 auto;
    text-align:center;
	background-color:#4a2a1e;
}
a{
text-decoration:none;
}
.main{
   margin:0 auto;
   text-align:center;	
   width:1280px;
   height:720px;
   position:relative;
   background:url(http://user.dianler.com/web/activity/image/background_ddz.jpg?2=1) no-repeat;
   
}
.title_head{
   margin:0 auto;
   text-align:center;	
   width:100%;
   height:74px;
   background:url(http://user.dianler.com/web/activity/image/head_ddz.png?2=1);
}

.jindu{
	color:#ecac64;
	line-height:59px;
	font-size:40px;
	width:158px;
	height:59px;
	text-align:center;
	margin:0 auto;
	margin-top:20px;
}
.buttonBX
{
	margin-left:20px;
	float:left;
	width:294px;
	height:107px;
	font-size:40px;
	line-height:107px;
	text-align:center;
	color:#fff;
}
.kapian{
	color:#ecac64;
	width:189px;
	height:66px;
	line-height:66px;
	font-size:25px;
	float:right;
	margin-top:8px;
}


/*消息框*/
.child_div{
  display:none;
  position:absolute;
  width:555px;
  top:50%;
  left:40%;
  height:332px; 
  z-index: 99;

}
.child_message_button{
    position:absolute; 
	font-size:25px;
    color:#fff;
	font-weight:bold;
    line-height:70px;
	text-decoration:none;
	top:130px;
    left:50px; 
    z-index: 99;
	width:184px;
	height:70px;
    background:url('http://user.dianler.com/web/activity/image/messagebutton.png'); no-repeat;

}
</style>

</head>
<body>

<div class="main">

		<div class="title_head" style="z-index:99;position:absolute;left:0px;top:0px;">
			<div style="width:1000px;margin:0 auto;">
				<a href="javascript:;" id="changeButton_2" class="kapian" onclick="changeTable(2);"  style="background:url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_leave.png)">活动规则</a>
				<a href="javascript:;" id="changeButton_1" class="kapian" onclick="changeTable(1);"  style="margin-right:30px;background:url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_on.png)">勇夺宝箱</a>
				
			</div>
		</div>		
		
		<!--three item-->
		<div id="table_1" style="width:1160px;margin:0 auto;position:absolute;top:100px;left:5%;z-index:1;">
			<div style="width:353px;text-align:center;float:left;">
				<img src="http://user.dianler.com/web/activity/zhiqushengju/image/dwz.jpg" style="text-align:center;width:353px;height:391px;display:block;"/>
				<div class="jindu" style="background:url(http://user.dianler.com/web/activity/zhiqushengju/image/<?php echo $status1.'.png'?>);">
					<?php 
					if($status1==1){
					   echo $doTarget1."/".$target1;
					}else{
						echo "已完成";
					}
					?>
				</div>
			</div>
			
			<div style="width:353px;text-align:center;float:left;margin-left:50px;">
				<img src="http://user.dianler.com/web/activity/zhiqushengju/image/khj.jpg" style="text-align:center;width:353px;height:391px;display:block;"/>
				<div class="jindu" style="background:url(http://user.dianler.com/web/activity/zhiqushengju/image/<?php echo $status2.'.png'?>);">
					<?php 
					if($status2==1){
					   echo $doTarget2."/".$target2;
					}else{
						echo "已完成";
					}
					?>
				</div>
			</div>
			
			<div style="width:353px;text-align:center;float:left;margin-left:50px;">
				<img src="http://user.dianler.com/web/activity/zhiqushengju/image/llh.jpg" style="text-align:center;width:353px;height:391px;display:block;"/>
				<div class="jindu" style="background:url(http://user.dianler.com/web/activity/zhiqushengju/image/<?php echo $status3.'.png'?>);">
					<?php 
					if($status3==1){
					   echo $doTarget3."/".$target1;
					}else{
						echo "已完成";
					}
					?>
				</div>
			</div>
			<div style="clear:both;"></div>
			
			<div id="findbutton" style="width:430px;margin:0 auto;margin-top:40px;">
			<?php if($status!=3){?>
				<img src="http://user.dianler.com/web/activity/zhiqushengju/image/box_<?php echo $status;?>.png" style="float:left;margin-top:15px;"/>
			<?php } ?>
			
			<!--window.wst.connectClient()-->
			<a <?php if($status == 1){ echo "href='callback://turntogame'";}else if($status == 2){ echo "onclick='connectToPhp()'" ;}?>  class="buttonBX" style="<?php if($status==3){echo 'margin-left:110px;';}?>background:url(http://user.dianler.com/web/activity/zhiqushengju/image/button_<?php echo $status.".png"?>);">
				<?php
					if($status==1){
						echo '去玩游戏';
					}else if($status == 2){
						echo '开启游戏';
					}else if($status == 3){
						echo '已领取';
					}
				?>
			</a>
			
			
			<div style="clear:both;"></div>
			</div>
		</div>
		

		<div id="table_2" style="width:100%;height:710px;display:none;position:absolute;z-index:1;top:10px;left:0px;">
			<div style="clear:both;margin-bottom:120px;"></div>
			<div style="width:80%;padding:10px;color:#ffbd80;font-size:32px;margin:0 auto;margin-top:10px;text-align:left;">
				活动时间：2014.11.29~2014.12.31
			</div>
			
			<div style="width:80%;padding:10px;color:#ffbd80;font-size:32px;margin:0 auto;margin-top:10px;text-align:left;">
				活动内容：
				<br/>每天智取三项趣味任务，即可开启一个豪华大宝箱，宝箱最高可开出888888金币，VIP30天，话费50元，乐券1000等豪礼，小伙伴快来试试手气吧！									
						<br/><大王炸啦!>：每天打出2个王炸，即可完成。
						<br/><看!"灰"机>：每天打出2个飞机，即可完成。			
						<br/><连连好运>：每天打出2个顺子，即可完成。									

			</div>
			
			<div style="width:80%;padding:10px;color:#ffbd80;font-size:32px;margin:0 auto;margin-top:10px;text-align:left;">
				温馨提示：
				<br/>每位玩家每日限领一个大宝箱				
				<br/>活动奖励限当日领取，每晚24时重新计算活动内容				

			</div>
		</div>

		

</div>

<!--消息框-->
	
			<!--错误消息-->
			<div class ='child_div' id="mess0" style="display:none;">
		
		        <!--			
				<div style='width:542px;height:95px;overflow:hidden;padding:0;margin:0;line-height:95px;background:url(http://user.dianler.com/web/activity/image/title.png);no-repeat'>
					<span style='font-weight:bold;font-size:30px;color:#fff;'>温馨提示</span>
				</div>
				-->
				
				<div style="width:556px;height:312px;padding:0;margin:0;margin-top:-1px;">

					<div style="width:556px;height:312px;background:url(http://user.dianler.com/web/activity/image/sh_mBg.png);">
						<div style="position:relative;margin:0 auto;">
							<a href="#@" style="position:absolute;text-decoration:none;top:-35px;left:510px;z-index:99;width:76px;height:77px;background:url(http://user.dianler.com/web/activity/image/close.png); no-repeat;" onClick="message_close()" ></a>
				
					
							<span  style='position:absolute;top:130px;left:75px;text-align:left; font-size:30px;color:#ffbd80;'>
								您未达到领取条件或已经领取过！
							</span>
					
							<!--
							<a href="#@" class='child_message_button' onClick="message_close()" >取消</a>
							<a href="#@" class='child_message_button' style="left:310px;" onClick="message_close_two()" >确认</a>
							-->			
						</div>
					</div>
					
				</div>
			
				<!--
				<div style='width:542px;height:26px;overflow:hidden;padding:0;margin:0;margin-top:-2px;background:url(http://user.dianler.com/web/activity/image/bottom.png) no-repeat;'>

				</div>	
				-->
				
			</div>
			
			<div class ='child_div' id="mess1" style="display:none;">
		
		        <!--			
				<div style='width:542px;height:95px;overflow:hidden;padding:0;margin:0;line-height:95px;background:url(http://user.dianler.com/web/activity/image/title.png);no-repeat'>
					<span style='font-weight:bold;font-size:30px;color:#fff;'>温馨提示</span>
				</div>
				-->
				
				<div style="width:556px;height:312px;padding:0;margin:0;margin-top:-1px;">

					<div style="width:556px;height:312px;background:url(http://user.dianler.com/web/activity/image/sh_mBg.png);">
						<div style="position:relative;margin:0 auto;">
							<a href="#@" style="position:absolute;text-decoration:none;top:-35px;left:510px;z-index:99;width:76px;height:77px;background:url(http://user.dianler.com/web/activity/image/close.png); no-repeat;" onClick="message_close()" ></a>
					
							<span style='position:absolute;top:70px;left:105px;font-size:40px;color:#ffbd80;'>恭喜您打开宝箱获得</span>
							<div  style='position:absolute;top:170px;left:135px;font-size:40px;color:#ffbd80;'>
								<img src="http://user.dianler.com/web/activity/changshengjiangjun/image/sh_xiaojinbi.png" style="float:left;width:44px;height:45px;margin-top:3px;"/>
								<span id="success" style="float:left;margin-left:5px;">100000</span>
								<div style="clear:both;"></div>
							</div>
							<!--
							<a href="#@" class='child_message_button' style="left:190px;" onClick="message_close()" >确认</a>
							-->
						</div>
					</div>
					
				</div>
			
				<!--
				<div style='width:542px;height:26px;overflow:hidden;padding:0;margin:0;margin-top:-2px;background:url(http://user.dianler.com/web/activity/image/bottom.png) no-repeat;'>
				</div>	
				-->
				
			</div>
			
			
			<!--信息填写框10-->
			<div class='child_div' id="mess2" style="display:none;">
				<div style='width:542px;height:95px;overflow:hidden;padding:0;margin:0;line-height:95px;background:url(http://user.dianler.com/web/activity/image/title.png);no-repeat'>
					<span style='font-weight:bold;font-size:30px;color:#fff;'>温馨提示</span>
				</div>
				
				<div style="width:542px;height:200px;padding:0;margin:0;margin-top:-1px;">

					<div style="width:542px;height:200px;background:url(http://user.dianler.com/web/activity/image/bg.jpg);">
						<div style="position:relative;margin:0 auto;">
							<a href="#@" style="position:absolute;text-decoration:none;top:-120px;left:500px;z-index:99;width:76px;height:77px;background:url(http://user.dianler.com/web/activity/image/close.png); no-repeat;" onClick="message_close()" ></a>
				
					
							<span id="successPhone" style='position:absolute;top:50px;left:40px; font-weight:bold;font-size:24px;color:#ffff00;'>您的金币少于1000，不能继续使用金币抽奖。</span>
					
							<!--
							<div style="position:absolute;top:50px;left:110px;width:350px;height:46px;background:url(http://cnjsmahjong.17c.cn/mahjong_weibo/application/mahjong/weibo/iphoneactivity/image/txt.png) no-repeat;">
								<input id = "telphone" type='text' style="float:left;margin-left:10px;margin-top:5px;height:30px;width:320px;line-height:30px;color:#000;background-color:#fff;z-index:999;border:none"/>
							</div>-->
							
							<a href="#@" class='child_message_button' onClick="message_close()" >取消</a>
							<a href="#@" class='child_message_button' style="left:310px;" onClick="message_close()" >确认</a>
			
						</div>
					</div>
					
				</div>
				
				<div style='width:542px;height:26px;overflow:hidden;padding:0;margin:0;margin-top:-2px;background:url(http://user.dianler.com/web/activity/image/bottom.png) no-repeat;'>

				</div>
			</div>


<script style="text/javascript">
	var message_now = 1;
	var paramStringJ = "<?php echo $paramString; ?>";
	function message_tab(tab){
		var temp = tab;
		var m = document.getElementById("mess"+temp);
		var n = document.getElementById("mess"+message_now);
		n.style.display = 'none';
		m.style.display = 'block';
		message_now = temp;
	}
	
	function message_close(){
		var n = document.getElementById("mess" + message_now); var n = document.getElementById("mess" + message_now);
		//document.getElementById("yaoyao").innerHTML = "<img  id='yaoyaoImg' src='http://user.dianler.com/web/activity/yaoyaole2/image/yybutton.png?3=1' onclick='yaoyao();' />";
		//document.getElementById("nowmoney").innerHTML="金币："+nowmoney;
		n.style.display = 'none';
	}
	
	var nowtableID = 1;
	function changeTable(tableID){
		//alert(tableID);
		document.getElementById("table_1").style.display = "none";
		document.getElementById("table_2").style.display = "none";
		document.getElementById("table_"+tableID).style.display = "block";
		
		document.getElementById("changeButton_1").style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_leave.png)" ;
		document.getElementById("changeButton_2").style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_leave.png)" ;
		document.getElementById("changeButton_"+tableID).style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_on.png)" ;
		nowtableID = tableID;
		//alert("ok");
	}
	function changeMouseover(tableID)
	{
		document.getElementById("changeButton_"+tableID).style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_on.png)" ;
	}
	function changeMouseout(tableID)
	{
		if(tableID == nowtableID){
			document.getElementById("changeButton_"+tableID).style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_on.png)" ;
		}else{
			document.getElementById("changeButton_"+tableID).style.backgroundImage ="url(http://user.dianler.com/web/activity/zhiqushengju/image/caidan_leave.png)" ;
		}
	}
	
	
	function connectToPhp(){
		var xmlhttp;
		if(window.XMLHttpRequest){
			try{
				xmlhttp = new XMLHttpRequest();
			}catch(e){
				try{
					xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
				}catch(e){
					try{
						xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
					}catch(e){
						xmlhttp = false;
					}
				}
			}
		}
		
		if(!xmlhttp){
			alert('cannot create an XMLHTTP instance');
		}
	
		xmlhttp.onreadystatechange=function(){
			if (xmlhttp.readyState==4&& xmlhttp.status==200 ){

				 var str = xmlhttp.responseText;
                 
				 if(str ==null|| str ==""){
				    //message_tab(0);
				    return;
				 }else{
				   //alert(str);

				  
				   var obj = eval('('+str+')');
				   //document.getElementById('labM').innerHTML = '<span>您当前积分为：'+obj.nowjifen+'</span>';
				   
				   if(obj.flag == 0){
				      
					  //alert("flag is zero please check your money");
					  num1 = 5;
					  if(obj.messid == 1){
						message_tab(2);
					  }else{
						message_tab(0);
					  }
					  
					  
					  return;
					}else{
				      //message_close();
				      //message_tab(10);
					  //var style = "style='display:block;height:50px;width:108px;color:#fff;line-height:50px;font-weight:bold;text-decoration:none;background:url(http://user.dianler.com/web/activity/playCard/image/button-2.png) no-repeat;'";
					  
					  //var num = obj.steplength;
					  //var backPrize = obj.prize;
					  
					  //alert(num);
					  //document.getElementById('canLa').innerHTML = "幸运值："+obj.xingyunvalue;
					  
					  //vxinyunvalue = obj.xingyunvalue;
                      //nowmoney  = obj.nowmoney;
					  //oldmoney  = nowmoney;
					  //jiangli = num+jiangli;
					  //prize   = backPrize;
					  //alert(jiangli);
					  //start();
					  //var button = "button"+num;
					  document.getElementById("findbutton").innerHTML = "<a href='javascript:;' style='margin-left:20px;float:left;width:294px;height:107px;font-size:40px;line-height:107px;text-align:center;color:#fff;margin-left:110px;background:url(http://user.dianler.com/web/activity/zhiqushengju/image/button_3.png)'> 已领取 </a>";
					  document.getElementById("success").innerHTML = obj.money;
					  message_tab(1);
					  
					  return;
					}
				   
				 }
			}
		};
    
		//根据message_now的值来判断
    
		//var require_jifen = 500;
		//var money = 0;
		//var telphone = document.getElementById('telphone').value;
		var url = 'http://user.dianler.com/index.php?m=activity&p=dispath&fpath=zhiqushengju&action=startYo'+paramStringJ;
		//alert(url);
		//alert(mid);
		xmlhttp.open("GET", url, true);
		xmlhttp.setRequestHeader("Content-Type","text/plain");
		xmlhttp.send();
	
	}
</script>
</body>
</html>